.LinkForm {
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.TextField input {
  border-radius: 5px;
  border: none;
  height: 25px;
  margin-top: 6px;
  margin-bottom: 6px;
  background-color: ghostwhite;
}
