.App {
  display: flex;
  margin: 10px;
}

button {
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
  background-color: lightgreen;
  cursor: pointer;
  font-size: 14px;
  font-weight: 1000;
  line-height: 34px;
  padding: 0 20px;
}
